:root {
  --font-unbounded: "Unbounded", sans-serif;

  --color-dark-cyan: #05130F;
  --color-cyan: #46CF96;
  --color-light-cyan: #c5f0dd;
  --color-low-opacity: #05130f0f;
  --color-cyan-low-opacity: #46cf9627;
  --color-grey: #05130f7d;
  --color-lightergrey: #EEEEEE;
  --color-mediumgrey: #c2c2c2;
  --color-lightgrey: #737373;
  --color-white: #FAFEFC;
  --color-blue: #8ABAE1;

  --font-size-ssm: 0.6rem;
  --font-size-sm: 0.8rem;
  --font-size-s: 0.9rem;
  --font-size-m: 1.1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.3rem;
  --font-size-3xl: 4rem;
}

.cto-form-help{
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.input-help{
  border: 1px solid var(--color-cyan);
  padding: 22px;
  border-radius: 55px;
  outline: none;
}

.input-help::placeholder{
  color: var(--color-mediumgrey);
}

.frequent-asked-container{
  display: flex;
  flex-direction: column;
  gap: 48px;
  color: var(--color-dark-cyan);
}

.frequent-asked{
  font-size: var(--font-size-2xl);
  font-weight: 400;
}

.questions{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.frequent-asked-text{
  color: var(--color-dark-cyan);
}