body.menu-open {
  overflow: hidden;
}

/* começo dos estilos do header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid var(--color-low-opacity);
}

.azura-title {
  color: var(--color-dark-cyan);
  font-weight: 400;
  font-size: var(--font-size-lg);
  text-decoration: none;
}

/* começo dos estilos da header desktop */
.desktop-nav-bar {
  display: flex;
  gap: 36px;
  align-items: center;
}

.nav-bar-links {
  display: flex;
  gap: 16px;
  margin: 0;
}

.nav-bar-link:hover {
  color: var(--color-cyan);
}

.nav-bar-link {
  color: var(--color-dark-cyan);
  font-weight: 400;
  transition: all 0.2s;
}

.cto-nav-bar-button {
  border: 0;
  background-color: var(--color-cyan);
  padding: 12px;
  border-radius: 6px;
  font-weight: 400;
}

.cto-link{
  text-decoration: none;
  color: var(--color-dark-cyan);
}

/* final dos estilos da header desktop */

.icon-menu {
  width: 2.2rem;
}

/* final dos estilos do header */

/* começo dos estilos do main */
.main {
  display: grid;
  gap: 100px;
  grid-template-rows: auto auto auto;
  overflow: hidden;
}

/* começo dos estilos da hero */
.hero-section {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.hero-title {
  color: var(--color-dark-cyan);
  font-weight: 400;
  font-size: var(--font-size-2xl);
  line-height: 45px;
  padding: 60px 30px 0 30px;
  position: relative;
  z-index: 3;
}

.gradient {
  background: linear-gradient(45deg, #46CF96, #8ABAE1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-image-1,
.hero-image-2,
.bg-component-blue,
.bg-component-cyan {
  position: absolute;
}

.cards-container {
  position: relative;
}

.hero-image-1 {
  top: 20px;
  right: 2px;
  width: 280px;
  z-index: 2;
}

.hero-image-2 {
  top: 220px;
  left: 2px;
  width: 280px;
  z-index: 2;
}

.bg-component-blue {
  width: 420px;
  z-index: 1;
  top: 70px;
  right: -80px;
  transform: rotate(10deg);
}

.bg-component-cyan {
  width: 340px;
  top: 240px;
  left: -100px;
  z-index: 1;
}

.cto-button {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  border: none;
  background-color: var(--color-cyan);
  padding: 25px 0;
  gap: 10px;
  border-radius: 10px;
  font-size: var(--font-size-m);
  color: var(--color-dark-cyan);
  margin-top: auto;
}

.icon-arrow {
  width: 18px;
}

/* final dos estilos da hero */

/* começo dos estilos da protection */
.protection-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.protection-title {
  margin-top: 50px;
  color: var(--color-dark-cyan);
  text-align: center;
  font-weight: 400;
  font-size: var(--font-size-xl);
  max-width: 200px;
  line-height: 40px;
  text-transform: capitalize;
}

.protection-cards-container {
  display: grid;
  gap: 56px;
}

.protection-card {
  position: relative;
  color: var(--color-grey);
  width: 80%;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 10px 10px 30px var(--color-cyan-low-opacity);
  justify-self: center;
}

.protection-card-icon {
  position: absolute;
  width: 100px;
  top: -50px;
  left: -12px;
}

.protection-card-content {
  font-size: var(--font-size-s);
  text-align: center;
}

/* final dos estilos da protection */

/* começo dos estilos da review */
.review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-bottom: 120px;
  background: #FAFEFC;
  background: linear-gradient(180deg, rgba(250, 254, 252, 1) 0%, rgba(70, 207, 150, 0.34) 100%);
}

.review-title {
  color: var(--color-dark-cyan);
  font-size: var(--font-size-xl);
  font-weight: 400;
}

.review-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-self: center;
  width: 80%;
  background-color: #fff;
  border-radius: 12px;
  padding: 26px;
}

.user-section-review-card,
.review-card-stars-section {
  display: flex;
}

.user-section-review-card {
  gap: 10px;
}

.user-icon {
  width: 52px;
}

.review-card-stars-section {
  gap: 6px;
}

.review-star {
  width: 28px;
}

.user-name-review-card {
  color: var(--color-dark-cyan);
  font-size: var(--font-size-s);
  font-weight: 400;
  align-self: center;
}

.review-card-text {
  color: var(--color-grey);
  font-weight: 400;
  font-size: var(--font-size-sm);
}

.open-account-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80%;
}

.email-input {
  border: 1px solid var(--color-cyan-low-opacity);
  border-radius: 12px;
  font-size: var(--font-size-m);
  font-weight: 400;
  color: var(--color-dark-cyan);
  outline: 0;
  padding: 18px;
}

.email-input::placeholder {
  color: var(--color-grey);
  font-size: var(--font-size-s);
}

.sign-up-button {
  width: 100%;
  border-radius: 12px;
  padding: 15px;
  border: none;
  background-color: var(--color-cyan);
  color: var(--color-white);
  font-weight: 400;
  font-size: var(--font-size-lg);
}

/* final dos estilos da review */
/* final dos estilos da main */

/* começo dos estilos do footer */
.footer {
  background-color: var(--color-light-cyan);
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.socials-section {
  padding: 0 36px;
}

.footer-azura-title {
  color: var(--color-dark-cyan);
  font-weight: 400;
  font-size: var(--font-size-xl);
  text-align: center;
  padding-bottom: 24px;
}

ul {
  list-style: none;
}

.socials-links {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--color-dark-cyan);
  padding: 24px;
}

.social-link {
  display: flex;
}

.social {
  width: 24px;
}

.about-us-section,
.need-help-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-self: start;
  padding: 26px;
}

.about-us-title,
.need-help-title {
  color: var(--color-dark-cyan);
  font-size: var(--font-size-m);
}

.about-us-links,
.need-help-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.about-us-link,
.need-help-link {
  text-decoration: none;
  color: var(--color-dark-cyan);
  font-weight: 300;
  font-size: var(--font-size-sm);
}

.about-us-link:hover,
.need-help-link:hover {
  text-decoration: underline;
}

.copyright-section {
  background-color: var(--color-cyan);
  padding: 32px;
  text-align: center;
}

.copyright-text {
  font-size: var(--font-size-ssm);
}

/* final dos estilos do footer */
@media screen and (max-width: 767px) {
  .desktop-nav-bar {
    padding: 24px;
    flex-direction: column;
    align-items: start;
    gap: 52px;
    position: fixed;
    background-color: #000000f5;
    height: 100vh;
    width: 65%;
    top: 0;
    left: 0;
    z-index: 4;
    backdrop-filter: blur(6px);

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .desktop-nav-bar.active {
    transform: translateX(0);
  }

  .nav-bar-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .closing-button {
    border: none;
    background-color: transparent;
  }

  .azura-title-nav-bar {
    font-size: var(--font-size-lg);
    font-weight: 300;
  }

  .nav-bar-links {
    gap: 36px;
  }

  .nav-bar-link {
    font-size: var(--font-size-s);
    font-weight: 200;
  }

  .azura-title-nav-bar,
  .nav-bar-link {
    color: var(--color-white);
  }

  .nav-bar-links {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {

  .nav-bar-header,
  .icon-menu {
    display: none;
  }

  .main {
    gap: 0;
  }

  .hero-section {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    position: relative;
    min-height: 100vh;
    padding-left: 120px;
  }

  .hero-title {
    font-size: var(--font-size-3xl);
    padding: 0 0;
    line-height: 70px;
    position: static;
    z-index: auto;
    padding-top: 50px;
    width: 90%;
  }

  .hero-image-1,
  .hero-image-2,
  .bg-component-blue,
  .bg-component-cyan {
    position: absolute;
    width: auto;
    top: auto;
    right: auto;
    left: auto;
    z-index: auto;
    transform: none;
  }

  .hero-image-1,
  .hero-image-2 {
    width: 450px;
    z-index: 2;
  }

  .hero-image-1 {
    right: 140px;
    top: 50px;
  }

  .hero-image-2 {
    top: 370px;
    right: 280px;
  }

  .bg-component-blue {
    right: -150px;
    width: 650px;
    z-index: 1;
  }

  .bg-component-cyan {
    top: 230px;
    right: 250px;
    width: 530px;
  }

  .cards-container {
    position: relative;
  }

  .cto-button {
    width: 50%;
    font-size: var(--font-size-m);
    align-items: center;
    justify-content: center;
    justify-self: normal;
    align-self: baseline;
    margin-top: 0;
  }

  .protection-section {
    padding-left: 90px;
    align-items: baseline;
    gap: 120px;
  }

  .protection-title {
    text-transform: none;
    margin-top: 0;
    color: var(--color-dark-cyan);
    font-size: var(--font-size-2xl);
    max-width: 100%;
  }

  .protection-cards-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 0;
  }

  .protection-card {
    position: relative;
    color: var(--color-grey);
    width: 80%;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 10px 10px 30px var(--color-cyan-low-opacity);
    justify-self: center;
  }

  .protection-card-2 {
    grid-column: 2;
    grid-row: 2;
  }

  .protection-card-3 {
    grid-column: 3;
    grid-row: 3;
  }

  .review-section {
    margin-top: 120px;
    gap: 80px;
  }

  .review-title {
    font-size: var(--font-size-2xl);
  }

  .review-card {
    gap: 26px;
    width: 40%;
    padding: 36px;
  }

  .open-account-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 35%;
  }
}